
 .conteiner{
    width: 1200px; 
    margin: auto;
 }

header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-testa{
    background-image: url("../img/pattern.png");
    background-color: RGB(78, 160, 225);
}

#img-head{
    width: 220px;
    height: 170px;
    padding-top: 80px;
    padding-left: 315px;
    
}

.integrazione-titolo{
    color: gray;
    margin-top: 4px;

}

.integrazione-titolo2{
    color: gray;

}

#booleaner{
    color: rgb(33, 169, 229);
}

.photo-desc{
    font-size: 12px;
    font-weight: bold;
}

.testo{
    text-align: justify;
}

.evidenziato{
    background-color: yellow;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

thead{
    background-color: dodgerblue;
    color: white;
}


.t-blu{
    background-color: dodgerblue;
    text-align: center;
    margin: 10px;
}

.t-celeste{
    background-color: cyan;
    text-align: center;
    margin: 10px;
}

.testo2{
    margin-top: 25px;
    text-align: justify;
}

ul{
    margin-top: 25px;
    margin-bottom: 25px;
}

.testo-footer{
    color: grey;
}

h3{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 50px;
    text-align:left;
    width: 240px;
    height: 150px;
}

h4{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 50px;
    text-align:left;
    width: 240px;
    height: 150px;
}