.conteiner{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

.div-testa{
    background-image: url("../img/pattern.png");
    background-color: RGB(78, 160, 225);
    margin-bottom: 30px;
}

.img-head{
    width: 220px;
    height: 170px;
    padding-top: 80px;
    
}

.integrazione-titolo{
    color: gray;
    margin-top: 5px;

}

.integrazione-titolo2{
    color: gray;

}

#booleaner{
    color: rgb(33, 169, 229);
}

.photo-desc{
    font-size: 12px;
    font-weight: bold;
}

.testo{
    text-align: justify;
}

.evidenziato{
    background-color: yellow;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

thead{
    background-color: dodgerblue;
    color: white;
}


.t-blu{
    background-color: dodgerblue;
    text-align: center;
    margin: 10px;
}

.t-celeste{
    background-color: cyan;
    text-align: center;
    margin: 10px;
}

.testo2{
    margin-top: 25px;
    text-align: justify;
}

ul{
    margin-top: 25px;
    margin-bottom: 25px;
}

.testo-footer{
    color: grey;
}