
/*Conteiner per gestione centramento della pagina*/
.conteiner{
    width: 1200px; 
    margin: auto;
 }
/*Fine conteiner per gestione centramento della pagina*/

/*padding dell'header*/
header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fine padding dell'header*/

/*Gestione stile titolo*/
h1{
    font-size: 35px;
}
/*Fine gestione stile titolo*/


/*Gestione stile pattern barra del logo*/
.div-testa{
    background-image: url("../img/pattern.png");
    background-color: RGB(78, 160, 225);
}
/*Fine gestione stile pattern barra del logo*/

/*ID gestione del logo*/
#img-head{
    width: 220px;
    height: 170px;
    padding-top: 80px;
    padding-left: 315px;
    
}
/*Fine ID gestione del logo*/

/*Classi per gestire integrazioni sotto al titolo*/
.integrazione-titolo{
    color: gray;
    margin-top: 4px;

}

.integrazione-titolo2{
    color: gray;

}

#booleaner{
    color: rgb(33, 169, 229);
}

.photo-desc{
    font-size: 12px;
    font-weight: bold;
}
/*Fine classi per gestire integrazioni sotto al titolo*/


/*Stile primo corpo testo pagina*/
.testo{

    text-align: justify;
}
/*Fine stile primo corpo testo pagina*/


/*Classe testo evidenziato*/
.evidenziato{
    background-color: yellow;
    text-align: center;
}
/*Fine classe testo evidenziato*/



/*Classi gestione stile tabella*/
table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

thead{
    background-color: dodgerblue;
    color: white;
}


.t-blu{
    background-color: dodgerblue;
    text-align: left;
    padding: 10px;
}

.t-bianca{
    background-color: #FFFFFF;
    text-align: left;
    padding: 10px;
}

.t-celeste{
    background-color: cyan;
    text-align: left;
    width: 1%;
    padding: 10px;
}
/*Fine classi gestione stile tabella*/


/*Stile secondo corpo testo pagina*/
.testo2{
    margin-top: 25px;
    text-align: justify;
}
/*Fine classe stile secondo corpo testo pagina*/

/*Gestione lista */
ul{
    margin-top: 25px;
    margin-bottom: 25px;
}
/*Fine gestione lista*/



/*Classi gestione footer*/
.testo-footer{
    color: grey;
}

h3{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 50px;
    text-align:left;
    width: 240px;
    height: 150px;
    padding: 10px;
}

h4{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 50px;
    text-align:left;
    width: 240px;
    height: 150px;
    padding: 10px;
}
/*Fine classi gestione footer*/